[package]
name = "rcurl"
version = "0.0.30"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "=1.0.99"
async-tls = "=0.13.0"
bytes = "=1.10.1"
chrono = "=0.4.41"
clap = { version = "=4.5.45", features = ["derive", "string"] }
env_logger = "=0.11.8"
form-data-builder = "=1.0.1"
futures = "=0.3.31"
futures-util = { version = "=0.3.31", default-features = false }
http = "=1.3.1"
http-body-util = { version = "=0.1.3" }
http-range-header = "=0.4.2"
hyper = { version = "=1.8.1", features = ["full"] }
hyper-rustls = { version = "=0.27.7", default-features = false, features = [
    "logging",
    "ring",
    "tls12",
    "http1",
    "http2",
] }
hyper-util = { version = "=0.1.19", features = ["full"] }
indicatif = "=0.18.0"
inquire = "=0.7.5"
log = "=0.4.27"
mime_guess = "=2.0.5"
pki-types = { package = "rustls-pki-types", version = "=1.12.0" }
rustls = { version = "=0.23.31", default-features = false, features = [
    "logging",
    "ring",
    "tls12",
] }
rustls-pemfile = "=2.2.0"
serde = { version = "=1.0.219", features = ["derive"] }
serde_json = "=1.0.142"
shell-words = "=1.1.0"
suppaftp = { version = "=6.3.0", features = ["rustls"] }
tokio = { version = "=1.47.1", features = ["full"] }
tokio-rustls = { version = "=0.26.2", default-features = false, features = [
    "logging",
    "ring",
] }
tokio-util = { version = "=0.7.16", features = ["full", "time"] }
tower-service = "=0.3.3"
tracing = { version = "=0.1.41" }
tracing-appender = "=0.2.3"
tracing-subscriber = { version = "=0.3.19", features = ["env-filter"] }
url = "=2.5.4"
webpki-roots = "=1.0.2"
x509-parser = "=0.17.0"
ping = "0.7.0"
